.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  min-height: 5vh;
  margin: 0.5vh;
}

.title h1 {
  margin: 0;
}

.title a,
.title a:visited {
  text-decoration: none;
  color: #61dafb;
}

.username {
  display: flex;
  align-items: baseline;
  width: 90vw;
  margin: 0.5vh;
  padding: 0 1vh;
  align-self: flex-start;
}

.username-label {
  margin: 0.5vh;
  border: 0;
  font-size: 20px;
}

.username-input {
  width: 200px;
  margin: 0.5vh;
  background-color: #282c34;
  padding: 1.5vh;
  border: 0;
  font-size: 20px;
  color: white;
  caret-color: white;
}

.username-input:hover {
  background-color: #343941;
}

.username-input:focus {
  outline: none;
}

.messages-container {
  background-color: #343941;
  min-width: 90vw;
  min-height: 70vh;
  max-height: 70vh;
  padding: 1vh;
  overflow-y: auto;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.message-username {
  width: 15vw;
  margin: 0 0.5vw;
  font-size: 20px;
  text-align: left;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  margin: 0.5vh;
  padding: 0.5vh;
}

.buttons {
  display: flex;
  align-items: center;
}

.message:hover > .buttons > .btn-delete {
  display: block;
}

/* .message:hover>.buttons>.btn-edit {
  display: block;
} */

.message-text {
  margin: 0.5vh;
  border-radius: 5px;
  padding: 0 1vh;
  font-size: 20px;
  text-align: left;
}

.message-timestamp {
  margin: 0 0.5vh;
  font-size: 12px;
}

.btn-edit {
  border: 0;
  padding: 1vh;
  margin: 0 0.5vh;
  display: none;
}

.btn-delete {
  color: white;
  background-color: rgb(196, 46, 46);
  border: 0;
  padding: 1vh;
  margin: 0 0.5vh;
  display: none;
}

.message-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-form {
  display: flex;
  margin-top: 0.5vh;
  min-width: 95vw;
}

.message-input input {
  background-color: #343941;
  width: 100%;
  padding: 1.5vh;
  border: 0;
  font-size: 20px;
  color: white;
  caret-color: white;
}

.message-input input:focus {
  outline: none;
}

.send-btn {
  background-color: #61dafb;
  border: 0;
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #777;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
